@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

@layer components {
  .gfe-gradient-bg {
    background: var(
      --Linear-Page,
      linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%)
    );
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .credits {
    color: #777;
    position: fixed;
    bottom: 24px;
    left: 24px;
    font-size: 12px;
    text-align: center;
  }
  .credits a {
    color: #000;
    font-weight: bold;
  }
}
